@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  padding-top: 80px;
  background-color: #eee;
}

.logo {
  width: 60vw;
}
#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 75px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-bar ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  margin-right: 2rem;
}

#nav-bar ul li a {
  padding: 10px;
  flex-direction: row;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#nav-bar ul li a:hover {
  color: #000;
  background-color: #eee;
}
#header > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 960px) {
  #hero {
    margin-top: 40px;
  }
}
#hero h2 {
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}

#email {
  width: 100%;
  min-width: 270px;
  padding: 5px;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#hero input[type="submit"] {
  width: 100%;
  max-width: 150px;
  border: 0;
  height: 30px;
  background-color: #f1c40f;
  font-weight: 900;
  border-radius: 5px;
  margin: 15px 0;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#features h2 {
  font-weight: 600;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

/* how it works */
#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* pricing */
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  #hero {
    padding: 30px;
  }
  .product {
    flex: 1 1 80%;
  }
  #pricing {
    flex-wrap: wrap;
  }
  #features h2 {
    font-size: 1.3rem;
  }
  .container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  #features .desc  {
    margin-bottom: 1.5rem;
  }
}
.product > .level {
  text-transform: uppercase;
  background-color: #ddd;
  padding: 15px 0;
  width: 100%;
  font-weight: 600;
}

.product > h2 {
  margin-top: 15px;
  font-weight: 500;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

li {
  list-style: none;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  border-radius: 5px;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
}
footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: #444;
}
